.control-panel{
    background-color: #edf0f5;
}
.titles-control-panel{
    font-weight: 800;
    letter-spacing: 1.7px;
    margin-bottom: 20px;
}
.white-panel{
    background-color: white;
}
.cp-item-name{
    font-size: 12px;
}
.cp-item-name p{
    margin: 0;
}
.cp-save-btn{
    background-color: #313457;
    font-size: 13px;
    border-radius: 4px !important;
    position: relative;
    width: 85px;
    color: white;
    outline: none !important;
    border: none;
    height: 32px;
}
.plus-icon{
    width: 12px;
    margin-right: 5px;
}
.add-branch{
    font-size: 11px;
    text-decoration: none;
    color: black;
    border: none;
    background-color: transparent;
}
.add-link:hover{
    color: #ec942a;
}
.cp-input{
    background: #edf0f5;
    border: none;
    height: 45px;
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
}
.cp-input:focus-visible{
    outline: 2px solid #ffe7c9;
}
.cp-ph input::placeholder{
    font-size: 13px;
    font-weight: 700;
}
.cp-btn-search{
    background-color: #313457;
    height: 45px;
    font-size: 13px;
    border-radius: 4px !important;
    border: none;
    width: 70%;
    color: white;
    font-weight: 800;
}
.white-panel table thead tr{
    background-color: #edf0f5;
    font-size: 12px;
}
.white-panel table thead tr th{
    border: none !important;
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 0.75rem;
    text-align: -webkit-match-parent;
}
.cp-table-icons{
    width: 20px;
    height: 20px;
}
.cp-body-table{
    font-size: 12px;
    font-weight: 500;
}
.cp-body-table td{
    padding: 0.75rem;
    vertical-align: middle !important;
    color: rgba(82, 79, 79, 0.58);
    height: 56px !important;
}
.cp-btn-show{
    border-radius: 4px !important;
    width: 80px;
    height: 32px;
    font-size: 11px;
    padding: 0 !important;
    margin: 0 !important;
    color: white;
    outline: none !important;
    border: none;
    background-color: #313457;
}
.cp-btn-icons{
    border: none;
    background-color: transparent;
    outline: none;
}
.cp-input option{
    font-size: 13px ;
    font-weight: 500;
}
.gray-row{
    background-color: #edf0f5;
}
.cp-modals{
    --bs-modal-width: 800px !important;
}

