.products-list-bg{
    background-color: #edf0f5;
}
.bg-white{
    background-color: white;
}
.logo-products-list{
    width: -webkit-fill-available;
}
.banner-products-list{
    width: -webkit-fill-available;
}
.select-grid{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    height: 35px;
    font-size: 10px;
    color: #adaeba;
    line-height: 50px;
    border-radius: 20px;
    background-color: white;
    min-width: 55px;
    outline: none !important;
    border: 0;
}
.select-grid::after{
    margin-left: 5px;
}
.select-grid:hover{
    background-color: white;
    color: #adaeba;
}
.select-grid:active, .show{
    background-color: white !important;
    color: #adaeba !important;
    border-radius: 20px;
}
.product-grid-dropdown{
    text-align: center;
    min-width: 60px;
    border: 0;
    font-size: 12px;
}
.select2{
    min-width: 130px;
}
.product-dropdowns{
    margin-right: 10px;
}
.product-grid-dropdown2{
    text-align: center;
    min-width: 132px;
    border: 0;
    font-size: 11px;
}
.grid-type{
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    height: 35px;
    font-size: 9px;
    color: #adaeba;
    line-height: 50px;
    border-radius: 20px;
    background-color: white;
    min-width: 70px;
    outline: none !important;
}
.grid-type img{
    width: 15px;
}
.product-item{
    padding: 10px;
    height: 500px;
}