.products-list-bg{
    background-color: #edf0f5;
}
.bg-white{
    background-color: white;
}
.logo-products-list{
    width: -webkit-fill-available;
}
.banner-products-list{
    width: -webkit-fill-available;
}
.select-grid{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    height: 35px;
    font-size: 10px;
    color: #adaeba;
    line-height: 50px;
    border-radius: 20px;
    background-color: white;
    min-width: 55px;
    outline: none !important;
    border: 0;
}
.select-grid::after{
    margin-left: 5px;
}
.select-grid:hover{
    background-color: white;
    color: #adaeba;
}
.product-grid-dropdown{
    text-align: center;
    min-width: 60px;
    border: 0;
    font-size: 12px;
}
.select2{
    min-width: 130px;
    background-color: white !important;
    color: #adaeba !important;
}
.product-dropdowns{
    margin-right: 10px;
}
.product-grid-dropdown2{
    text-align: center;
    min-width: 132px;
    border: 0;
    font-size: 11px;
}
.grid-type{
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    height: 35px;
    font-size: 9px;
    color: #adaeba;
    line-height: 50px;
    border-radius: 20px;
    background-color: white;
    min-width: 70px;
    outline: none !important;
}
.grid-type img{
    width: 15px;
}
.product-item{
    padding: 10px;
    height: 486px;
}
.product-tag{
    height: 16px;
    background-color: #ec942a;
    color: white;
    font-size: 8px;
    text-align: center;
    width: 80px;
    padding-top: 2px;
    border-radius: 4px;
}
.label-row{
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-line{
    height: 1px;
    background-color: rgba(226, 226, 227, 0.55);
}
.product-description-link span{
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: black;
}
.product-description-link{
    text-decoration: none;
}
.product-description-link:hover{
    color: #ec942a;
    text-decoration: underline;
}
.product-description-link:hover span{
    color: #ec942a;
}
.old-price, .un{
    color: #bfc1cd;
    font-size: 13px;
    line-height: 15px;
}
.old-price{
    text-decoration: line-through;
}
.product-price{
    color: #ec942a;
    font-weight: 800;
    letter-spacing: 1px;
}
.product-list-footer{
    background-color: #fdeedb;
    height: 84px;
}
.product-amount img{
    width: 10px;
}
.amount{
    padding: 5px 10px;
    border: 1px solid gray;
    color: gray;
    background-color: white;
    font-size: 10px;
}
.btn-add-cart{
    height: 33px;
    color: white;
    outline: none !important;
    border: none;
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #313457;
}
.product-footer-icons img{
    width: 20px;
    margin-left: 10px;
    padding: 6px 0;
}
.favorite{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}
.product-img{
    max-width: 13.8rem;
    height: 12.8rem;
}
.min-label-height{
    height: 1rem;
}
.pagination img{
    width: 10px;
    height: 10px;
}
.pagination{
    border: none;
    border-radius: 50%;
    background-color: white;
    padding: 5px 10px;
    font-size: 11px;
    margin: 0 5px;
    align-items: center;
    color: gray;
}
.active{
    background-color: #ec942a !important;
    color: white !important;
}