.form-titles{
    font-weight: 800;
    letter-spacing: 1.7px;
    margin-bottom: 20px;
}
.forms-input{
    background: #edf0f5;
    border: none;
    height: 45px;
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px;
}
.forms-input:focus-visible{
    outline: 2px solid #ffe7c9;
}
.forms input::placeholder{
    font-size: 13px;
    font-weight: 700;
}
.forms-label{
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
}
.forms-btn-add{
    background-color: #313457;
    height: 45px;
    font-size: 14px;
    border-radius: 4px !important;
    border: none;
    width: 100%;
    color: white;
    font-weight: 800;
}
.alert {
    padding: 10px;
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}
.closebtn {
    margin-left: 15px;
    color: #856404;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
.table-forms table thead tr{
    background-color: #edf0f5;
    font-size: 14px;
}
.table-forms table thead{
    height: 40px;
}
.table-forms table thead tr th{
    border: none !important;
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 0.75rem;
    text-align: center;
}
.forms-body-table{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.forms-body-table td{
    padding: 0 0.75rem;
    vertical-align: middle !important;
    color: rgba(82, 79, 79, 0.58);
    height: 50px !important;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
} 
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}