* {
    font-family: 'Montserrat', sans-serif;
}

.header{
    font-family: 'Montserrat', sans-serif;
}
/* LOGO */
.head-logo{
    width: auto;
    height: 45px;
}

/* SEARCH BAR */
.search-bar{
    background:white;
    border-radius:40px;
    border:2px solid #e6e9f0;
    height:38px;
    min-width:200px !important;
}
.search-bar input{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size:14px;
    border:none !important;
    outline: unset !important;
    padding-left:15px;
}
.search-icon{
    width: 45px !important;
    height:100%;
    fill:#e6e9f0;
    border: none;
    background-color: transparent;
}

/* USER */
.profile-pic{
    width: 45px;
}
.username{
    font-size: 12px;
    font-weight: bolder;
    padding-top: 3px;
    color: #363d6b;
    margin-bottom: 1px;
}
.my-account-login p{
    font-size: 12px;
    line-height: 6px;
    color: #363d6b;
}
.space-fix{
    padding-left: 20px
}
.location-fix{
    padding-right: 0;
    padding-left: 15px;
}
.location-icon{
    width: 16px;
}
.branch-name{
    font-size: 12px;
    margin-top: 2px;
    margin-left: 3px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #cdcdcd;
}

/* HEADER CART */
.cart-icon{
    width: 25px;
    height: 25px;
}
.badge{
    position: absolute;
    border-radius: 50%;
    background-color: red;
    --bs-badge-padding-x: 4px;
    --bs-badge-padding-y: 2px;
    margin-top: -0.4rem;
    margin-left: -0.4rem;
}
.badge-value{
    font-size: 0.63rem;
}
.cart-total{
    font-size: 0.65rem;
    color: #363d6b;
    font-weight: bolder;
}
.cart-balance{
    font-size: 0.6rem;
    color: #2dd0a3;
    font-weight: bolder;
}

/* MENU NAVIGATION */
.menu{
    background-color: #313457;
}
.filter-icon{
    width: 20px;
    height: 20px;
}
.filter{
    font-size: 0.85rem;
    color: white;
    font-weight: bolder;
}
.white{
    color: white;
}
.menu-item{
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: -0.05rem;
}
.btn-products-link{
    text-decoration: none;
    color: white;
}
.btn-products-link:hover{
    color: #ec942a;
}

/* HEADER CART DROPDOWN */
.cart-dropdown{
    padding: 0;
    display: flex;
}
.cart-dropdown-header{
    background: #edf3f7;
    height: 90px;
    padding-left: 20px;
    margin-top: 9.5px;
}
.cart-dropdown-header h3{
    font-weight: 300;
    color: #394270;
    font-size: 25px;
}
.cart-dropdown-header p{
    margin-left: 2px !important;
    color: #313457;
    font-size: 12px;
    font-weight: 800;
}
.drop-menu{
    width: 360px;
    position: absolute;
    display: none;
    z-index: 1;
    top: 3.9rem;
}
.cart-box{
    border: 1px solid rgba(239, 237, 237, 0.8);
    border-top: 0;
    background-color: white;
}
.dropdown-point-cart{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #edf3f7;
    position: absolute;
    right: calc(50% - 10px);
    top: 17px;
    width: 0;
    height: 0;
}
.tranparent{
    background-color: transparent !important;
}
.cart-header-hover{
    height: 45px;
}
.cart-header-hover:hover .drop-menu{
    display: block;
}
.cart-dropdown-total{
    height: 130px;
    background: #edf3f7;
}
.cart-dropdown-total p{
    width: 50%;
    font-weight: 800;
    color: #363c7b;
    margin: 15px;
    margin-top: 20px;
}
.btn-finish{
    width: 40%;
    font-weight: 700;
    font-size: 12px;
    height: 42px;
    border-radius: 30px;
    background-color: #ec942a;
    color: white;
    outline: none !important;
    border: none;
}
.btn-basket{
    width: 40%;
    font-weight: 700;
    font-size: 12px;
    height: 42px;
    border-radius: 30px;
    border-color: #363c7b !important;
    border: 2px solid rgba(102, 102, 102, 0.24);
    color: #474d8b;
}
.cart-dropdown-products{
    max-height: 244px;
    overflow: auto;
}
.cart-product-img img{
    width: 90px;
}
.cart-product-name{
    overflow-x: hidden;
    border-bottom: 1px solid #dee2e6;
}
.cart-product-name label{
    line-height: 0px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}
.cart-product-name span{
    color: lightgray;
    font-size: 11px;
    display: block;
    margin-top: -3px;
    margin-bottom: 0.5rem;
}
.cart-product-name p{
    margin-top: 5px;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.cart-product-delete{
    width: 25px;
    border-bottom: 1px solid #dee2e6;
}
.cart-product-delete button{
    background: none;
    border: none;
    padding: 0;
}

/* FLOATING CARTS */
.floating-carts{
    position: fixed;
    right: 0;
    margin-top: 10px;
    z-index: 10;
}
.floating-carts .dropstart .dropdown-toggle::before {
    content: none;
}
.float-img{
    width: 20px;
}
.cart-title{
    font-size: 0.7rem;
    margin-bottom: 3px;
}
.floating-cart-menu{
    width: 100%;
}
.floating-cart-menu:active{
    background-color: transparent;
    color: black;
}
.floating-cart-menu:hover{
    background-color: transparent;
    color: black;
}
.btn-cart1{
    background-color: #5b6ae8;
    border-color: #5b6ae8;
}
.btn-cart1:hover{
    background-color: #5b6ae8;
    border-color: #5b6ae8;
}
.drop-float-menu{
    height: 500px;
    width: 790px;
    border-right: 8px solid #5b6ae8;
    background-color: #f6f7fa;
}
.btn-cart2{
    background-color: #3fa4f1;
    border-color: #3fa4f1;
}
.btn-cart2:hover{
    background-color: #3fa4f1;
    border-color: #3fa4f1;
}
.btn-cart3{
    background-color: #428cc4;
    border-color: #428cc4;
}
.btn-cart3:hover{
    background-color: #428cc4;
    border-color: #428cc4;
}
.drop-float-menu3{
    height: 500px;
    width: 790px;
    border-right: 8px solid #428cc4;
    background-color: #f6f7fa;
}
.drop-float-menu2{
    height: 500px;
    width: 790px;
    border-right: 8px solid #3fa4f1;
    background-color: #f6f7fa;
}
.btn-more-details{
    border: 1px solid #5b6ae8;
    color: #5b6ae8;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    height: 35px;
    font-size: 9px;
    line-height: 50px;
    border-radius: 20px;
    min-width: 55px;
    outline: none !important;
}
.order1{
    font-weight: bold;
}
.order2{
    font-weight: normal;
}
.float-cart-table{
    padding-left: 20px !important;
    padding-right: 20px !important;
    position: relative;
}
.table-cel{
    height: 330px;
    background-color: white;
}
.cel00{
    position: relative;
    border-bottom: 0.001px solid lightgray;
    border-right: 0.001px solid lightgray;
    height: 70px !important;
}
.cel00 p{
    font-size: 13px;
    color: gray;
}
.cel00-p{
    font-size: 11px !important;
}
.cel0{
    position: relative;
    height: 40px;
    border-bottom: 0.001px solid lightgray;
    border-right: 0.001px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cel0 span{
    font-size: 13px;
    color: gray;
    line-height: 2px;
    letter-spacing: 1.5px;
}
.cel05{
    height: 100px;
    position: relative;
    border-right: 0.001px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0!important;
    background-color: #f6f7fa;
}
.cel16{
    height: 100px;
    position: relative;
    border-right: 0.001px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0!important;
}
.btn-buy{
    border-radius: 4px !important;
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    height: 33px;
    color: white;
    outline: none !important;
    border: none;
    background-color: #00cc97;
    width: 75%!important;
}
.btn-buy img{
    width: 13px;
}
.cel11{
    height: 70px !important;
    position: relative;
    border-bottom: 0.001px solid lightgray;
    border-right: 0.001px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cel10{
    width: 20%;
    height: 80px;
    background-image: linear-gradient(to right top, #d6323e, #e24e34, #eb6929, #ef831c, #f09d10);
    margin-left: 2%;
    margin-top: -38px;
    border-radius: 4px;
    position: absolute;
    text-align: center;
}
.cel10 p{
    font-size: 11px;
    color: white;
}
.cel10-price{
    color: white;
    font-size: 22px !important;
}
.pricers{
    font-size: 11px !important;
}
.cel1{
    position: relative;
    height: 40px;
    border-bottom: 0.001px solid lightgray;
    border-right: 0.001px solid lightgray;
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
}
.cel1 p{
    font-size: 13px;
    color: gray;
    line-height: 13px;
    letter-spacing: 1.5px;
}
.cel1 span{
    font-size: 10px;
    color: gray;
}
.cel1 .bar{
    width: 50%;
    height: 10px;
    background-color: rgba(211, 211, 211, 0.55);
}
.progress-bar{
    width: 70%;
    height: 10px;
    background-image: linear-gradient(to right, #524780, #4e6da5, #4e92c2, #5eb7d7, #80dbe8);
}
.question-svg{
    width: 12px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}
.cel1-stars img{
    width: 15px;
}
.btn-buy-select{
    border-radius: 4px !important;
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    height: 33px;
    color: white;
    outline: none !important;
    border: none;
    background-color: #ffa627;
    width: 75%!important;
}
.btn-buy-select img{
    width: 13px;
}
.c-active{
    background-color: #5d5387;
    border-radius: 4px;
    box-shadow: 0 0 1em #626262;
}
.white{
    color: white !important;
}

/* USER DROPDOWN */
.bg-white{
    background-color: white;
}
.btn-cart-link{
    width: 40%;
}
.user-dropdown{
    position: absolute;
    display: none;
    width: 440px;
    z-index: 1;
    top: 3.9rem;
}
.user-profile-hover:hover .user-dropdown{
    display: block;
    transition-delay: 3s;
    transition-property: display;
}
.space{
    width: 100%;
    height: 15px;
    opacity: 0;
}
.dropdown-point{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    right: calc(50% - 10px);
    top: 17.1px;
    width: 0;
    height: 0;
}
.user-dropdown-options{
    font-weight: 700;
    font-size: 13px;
    color: #5e5d5d;
}
.user-dropdown-options img{
    width: 15px;
    margin-right: 17px;
    margin-left: 4px;
    display: inline-block;
}
.user-dropdown-options::after{
    content: "";
    width: 100%;
    height: 0.1px;
    background-color: rgba(239, 237, 237, 0.8);
    left: 0;
    position: relative;
    display: block;
    top: 9px;
}
.btn-user-dropdown button{
    border: 2px solid rgba(102, 102, 102, 0.24);
    height: 30px;
    width: 100px;
    color: #474d8b;
    font-size: 11px;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 50px;
    border-radius: 20px;
    background-color: white;
    min-width: 55px;
    outline: none !important;
}
.user-link{
    text-decoration: none;
    color: #5e5d5d !important;
}
.border-drop-user{
    border: 1px solid rgba(239, 237, 237, 0.8);
    border-top: 0;
    margin-top: 0.6rem;
}