
.pedidos-main {
  height: 100vh;
  background-color: #edf0f5;
  overflow: scroll;
  overflow-x: hidden;
}

.pedidos-titulo {
  font-size: 1.7rem;
  font-weight: bolder;
  color: #09124B;
  padding-left: 0;
}

.pedidos-link, .pedidos-link:hover {
  text-decoration: none;
  color: #09124B;
  font-size: 0.9rem;
}

.pedidos-icon-image {
  height: 1rem;
  padding-right: 10px;
  padding-bottom: 3px;
}

.pedidos-form, .pedidos-bg {
  background-color: #ffff;
}

.square1 {
  height: 25px;
  width: 25px;
  background-color: #ECFDDB;
  margin-right: 10px;
}

.square2 {
  height: 25px;
  width: 25px;
  background-color: #D8EEFC;
  margin-right: 10px;
}

.pedidos-table {
  color: rgba(128, 128, 128, 0.664);
}

pedidos-stripe {
  background-color: rgba(83, 83, 83, 0.808);
}
